<div style="text-align:center">
  <h1>
    Welcome to NG-Login Sample
  </h1>
  <h4><a href="https://developers.google.com/api-client-library/php/auth/web-app" target="_blank">Using OAuth 2.0 for
      Web Server Applications</a></h4>
  <h4><a href="https://github.com/abacritt/angularx-social-login" target="_blank">Git Hub</a></h4>
  <h4><a href="https://theinfogrid.com/tech/developers/angular/sign-in-with-google-angular" target="_blank">Sign-in
      with google angular</a></h4>
  <h6><a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspnetcore-2.1#setup-login-providers-required-by-your-application"
      target="_blank">Setup Providers</a></h6>
</div>
<!-- Intro Section -->
<section id="demo" class="demo-section">
  <app-auth></app-auth>
</section>
